# This is a sample .env file for use in local development.
# Duplicate this file as .env in the backend folder
# and update the environment variables to match your
# desired config

# MongoDB Connection URL
DATABASE_URL=mongodb+srv://<username>:<password>@mintedcluster.fmqoc.mongodb.net/Minted?retryWrites=true&w=majority